In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=f94381034dc0f65ef360d8790cbb727970b741cd57e3e1767309f4cbb0d142d0
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [15]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

In [18]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('dataframe_set')
      .config('spark.ui.port', '4050')
      .getOrCreate()
)

In [19]:
spark

Criando dataFrame normalmente:

In [20]:
dados = [
             ("Anderson", "Vendas", "SP", 1500.00, 34, 1000.00),
             ("Kennedy", "Vendas", "CE", 1200.00, 56, 2000.00),
             ("Bruno", "Vendas", "SP", 1200.00, 30, 2300.00),
             ("Maria", "Financas", "CE", 3600.00, 24, 2300.00),
             ("Eduardo", "Financas", "CE", 4500.00, 40, 2400.00),
             ("Mendes", "Financas","RS", 8000.00, 36, 1900.00),
             ("Kethlyn", "Financas", "RS", 1200.00, 53, 1500.00),
             ("Thiago", "Marketing", "GO", 1100.00, 25, 1800.00),
             ("Carla", "Marketing", "GO", 2600.00, 50, 2100.00)
]

In [21]:
esquema = ["nome", "departamento", "estado", "salario", "idade", "bonus"]

df = spark.createDataFrame(data=dados, schema=esquema)
df.show()
df.printSchema()

+--------+------------+------+-------+-----+------+
|    nome|departamento|estado|salario|idade| bonus|
+--------+------------+------+-------+-----+------+
|Anderson|      Vendas|    SP| 1500.0|   34|1000.0|
| Kennedy|      Vendas|    CE| 1200.0|   56|2000.0|
|   Bruno|      Vendas|    SP| 1200.0|   30|2300.0|
|   Maria|    Financas|    CE| 3600.0|   24|2300.0|
| Eduardo|    Financas|    CE| 4500.0|   40|2400.0|
|  Mendes|    Financas|    RS| 8000.0|   36|1900.0|
| Kethlyn|    Financas|    RS| 1200.0|   53|1500.0|
|  Thiago|   Marketing|    GO| 1100.0|   25|1800.0|
|   Carla|   Marketing|    GO| 2600.0|   50|2100.0|
+--------+------------+------+-------+-----+------+

root
 |-- nome: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- idade: long (nullable = true)
 |-- bonus: double (nullable = true)

Criando dataFrame com StructType

In [22]:
#A diferença entre criar um dataframe normalmente e com StructType, é apenas a criação do esquema.

schema = (
    StructType([
      StructField("nome", StringType(), True),
      StructField("departamento", StringType(), True),
      StructField("estado", StringType(), True),
      StructField("salario", DoubleType(), True),
      StructField("idade", IntegerType(), True),
      StructField("bonus", DoubleType(), True)               
    ])
)

df1 = spark.createDataFrame(data=dados, schema=schema)
df1.show()
df1.printSchema()

+--------+------------+------+-------+-----+------+
|    nome|departamento|estado|salario|idade| bonus|
+--------+------------+------+-------+-----+------+
|Anderson|      Vendas|    SP| 1500.0|   34|1000.0|
| Kennedy|      Vendas|    CE| 1200.0|   56|2000.0|
|   Bruno|      Vendas|    SP| 1200.0|   30|2300.0|
|   Maria|    Financas|    CE| 3600.0|   24|2300.0|
| Eduardo|    Financas|    CE| 4500.0|   40|2400.0|
|  Mendes|    Financas|    RS| 8000.0|   36|1900.0|
| Kethlyn|    Financas|    RS| 1200.0|   53|1500.0|
|  Thiago|   Marketing|    GO| 1100.0|   25|1800.0|
|   Carla|   Marketing|    GO| 2600.0|   50|2100.0|
+--------+------------+------+-------+-----+------+

root
 |-- nome: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- idade: integer (nullable = true)
 |-- bonus: double (nullable = true)